body {
    background: blanchedalmond;
}

*:not(body, html) {
    border: 1px solid dodgerblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.a {
    min-width: 100%;
    min-height: 100px;
}
.b {
    min-width: 79%;
    min-height: 100px;
}
.c {
    min-width: 20%;
    min-height: 100px;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
