body {
    background: papayawhip;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}
.container div {
    background-color: lightblue;
    border: 1px solid dodgerblue;
    margin: 5px;
}
.a,
.f {
    flex-grow: 3;
    min-width: 95%;
    min-height: 100px;
}
.b {
    flex-grow: 3;
    min-width: 95%;
    min-height: 150px;
}
.c,
.d,
.e {
    flex-grow: 1;
    min-width: 30%;
    min-height: 100px;
}
